/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300..700&display=swap');


// Main font family
// $font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-sans-serif: "Source Sans Pro", sans-serif;


/*-- scss:rules --*/

// Header font family
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}