/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

// Theme-wide colors:
$primary: #9b0000;
$light: #dadfe1;

// Main font family
$font-family: "Atkinson Hyperlegible", sans-serif;

// Link color
$link-color: #9b0000;

// Body text
$body-color: #282728;

// Sidebar
$sidebar-bg: $light; // This should already be a default
$sidebar-fg: #282728;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}