/*-- scss:defaults --*/

// Our brand colors
$mlx-red: #c5050c;
$mlx-crimson: #9b0000;
$mlx-frost: #dadfe1;
$mlx-slate: #646569;
$mlx-black: #282728;
$mlx-white: #f7f7f7;
$mlx-data-whisper: #bbd7db;
$mlx-bayes-breeze: #7fb7be;
$mlx-aqua-cortex: #1a535c;
$mlx-graphite: #494949;
$mlx-hyperlink: #1E90FF;


// Theme-wide colors:
$primary: $mlx-red;
$light: $mlx-frost;

// Link color
$link-color: $mlx-hyperlink;

// Body text
$body-color: $mlx-black;

// Sidebar
$sidebar-fg: $mlx-black;
